/* unversal markup */
* { margin:0; padding:0; border:0; text-decoration:none; }
body * { color:#fff; text-align:left; font:100% "Lucida Sans Unicode","Lucida Grande"; }
html { background:#111; font-size:75%; }
.part { width:100%; }
.wrapper { float:none; width:960px; margin:0 auto; }
.icon { margin:-2px 0 -4px 0; }

/* universal text markup */
h1 { font:230% "Century Gothic","Futura","Helvetica"; }
h2 { font:180% "Century Gothic","Futura","Trebuchet MS"; margin:0 0 0.2em 0; }
h3 { font:bold 120% "Lucida Sans Unicode","Lucida Grande"; }
a { color:#999; }
.active a, a:hover { color:#ff0000; text-decoration:underline; }

/* pagination markup */
.pagination { float:left; width:100%; margin:1em 0 0 0; }
.pagination .prev { float:left; width:20%; }
.pagination .pages { float:left; width:60%; text-align:center; }
.pagination .pages ul { width:9em; list-style-type:none; margin:0 auto; }
.pagination .pages li { float:left; padding:0 0.2em; }
.pagination a { font-weight:bold; font-size:80%; display:block; padding:0.1em 0.5em; }
.pagination .pages a { float:left; }
.pagination .next { float:left; width:20%; }
.pagination .next a { text-align:right; width:4em; float:right; }
.pagination .prev a { width:7em; }
.pagination .active a,
.pagination a:hover { background:#cc0000; color:#fff; text-decoration:none; }

/* usernav specific markup */
#usernav { background:#222; float:left; width:100%; font-weight:bold; font-size:80%; padding:0.4em 0 0.5em 0; }
#usernav p { float:left; margin:0 0 0 20px; font-weight:bold; }
#usernav ul { float:right; margin:0 20px 0 0; list-style-type:none; }
#usernav li { display:inline; padding:0 0 0 10px; }
#usernav a { font-weight:bold; }

/* header specific markup */
#header { background:#990000; float:left; width:100%; }
#header * { font-weight:bold; }
#header-main .holder { float:left; width:100%; background:url("images/header.png") no-repeat top left #cc0000; height:90px; }
#header-main { padding:10px 0 0 0; }
#logo { float:left; }
#logo a { display:block; width:196px; height:38px; position:relative; top:15px; left:20px; float:left; }
#top-right { float:right; margin:10px 20px 0 0; }
#header-main form { float:left; font-size:110%;  clear:both; margin:0 0 5px 1em; }
#header-main input[type="text"] { background:#990000; padding:0.2em; }
#header-main input[type="submit"] { background:none; padding:0.2em; }
#topnav { float:left; clear:both; }
#topnav ul { list-style-type:none; }
#topnav li { display:inline; padding:0 0 0 1em; }
#topnav a { color:#fff; font-size:80%; }
#mainnav { float:left; width:100%; margin:16px 0 0 0; }
#mainnav ul { text-decoration:none; float:left; margin:0 0 0 14px; }
#mainnav ul li { display:inline; }
#mainnav ul a { display:block; float:left; color:#fff; font-size:110%; padding:3px 6px 4px 6px; }
#mainnav ul a span { font:bold 70% "Verdana","Geneva"; vertical-align:baseline; }
#mainnav ul .active a, #mainnav ul a:hover { background:#990000; text-decoration:none }
#header-sub { width:100%; float:left; background:#660000; font-size:80%; }
#header-sub .holder { background:url("images/announcement01.jpg") no-repeat bottom right #990000; float:left; width:100%; }
#header-sub .group { float:left; width:33%; }
#header-sub .spacer { padding:10px 20px 10px 0; }
#header-sub .group:first-child .spacer { padding:10px 20px; }
#header-sub .group * { }
#header-sub table { width:100%; margin:0 0 0.5em 0; }
#header-sub p { width:100%; display:block; text-align:right; }
#header-sub a { color:#fd6862; }
#header-sub th { background:#cc0000; }
#header-sub td { border-bottom:1px dashed #cc0000; }
#header h3 { font-size:150%; margin:0 0 3px 0; }

/* body specific markup */
#body { float:left; width:100%; background:#000; }
#body .holder { width:100%; float:left; background:#151515; padding:0 0 1.5em 0; border-top:0.4em solid #550000; }
#body .spacer { width:940px; padding:0 10px; float:left; }
#trail { float:left; width:100%; font-size:80%; margin:6px 0 0 0; }
#trail * { font-weight:bold; }
#body .twothird { float:left; width:626px; margin:10px 0; }
#body .twothird .spacer { width:606px; }
#body .onethird { float:left; width:313px; margin:10px 0; }
#body .onethird .spacer { width:293px; }
#body .full { float:left; width:940px; margin:10px 0; }
#body .full .spacer { width:920px; }
#body .devider { float:left; width:100%; }
#body table { width:100%; margin:0 0 0.6em 0; }
#body th { background:#333; font-weight:bold; font-size:90%; padding:0.2em 0; }
#body td { border-bottom:1px dashed #333; }
#body p > a { float:right; }
#body .feature { margin:0 0 10px 0; }
#body .feature img { border:1px solid #fff; float:left; margin:5px 15px 0 0; }
#body .feature h4 { font-weight:bold; font-size:120%; }
#body .feature p > a { margin:5px 0 0 0; }

/* footer specific markup */
#footer * { font-weight:bold; }
#footer-content { float:left; width:100%; background:#333; font-size:80%; }
#footer li { margin:-2px 0; }
#footer .active a, #footer a:hover { color:#fff; }
#footer .active a:hover { color:#ff0000; }
#footer h3 { font-size:150%; margin:0 0 3px 0; }
#footer-fin { float:left; width:100%; background:#222; font-size:80%; padding:0.3em 0 1em 0; }
#copyright { float:left; width:100%; padding:10px 0 30px 0; }
#copyright p { text-align:center; color:#444; font-size:80%; }
#footer .holder { padding:0 10px; }
#footer .group { float:left; width:20%; }
#footer .double { width:40%; }
#footer .group ul { margin:0 0 0 16px; }
#footer .group .spacer { padding:12px 10px; }
#footer-fin * { color:#ccc; }
#footer-fin a { color:#666; }
#footer-fin form { float:left; width:100%; margin:0.6em 0 0 0; color:#fff; }
#footer-fin form div { float:left; width:100%; padding:0.3em 0; }
#footer-fin form label { float:left; width:25%; }
#footer-fin form input[type="text"] { float:right; width:75%; background:#181818; border-bottom:1px dashed #333; padding:0.2em 0; }
#footer-fin input[type="submit"] { border-radius:6px 0 6px 0; -moz-border-radius:6px 0 6px 0; background:#444; padding:0.3em 0.8em 0.3em 0.8em; cursor:pointer; margin:0.3em 0; }
#footer-fin input[type="submit"]:hover { background:#fff; color:#000; }
#footer-fin .more { width:100%; display:block; text-align:right; }
#sponsors a { display:block; margin:1.5em 0; }
#sponsors img { width:100%; display:block; }