/* unversal markup */
* { margin:0; padding:0; border:0; text-decoration:none; }
body * { color:#fff; text-align:left; font:100% "Lucida Sans Unicode","Lucida Grande"; }
html { background:#111; font-size:75%; }
.part { width:100%; }
.wrapper { float:none; width:960px; margin:0 auto; }
.icon { margin:-2px 0 -4px 0; }